.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box {
  height: 70px;
  width: 70px;
  background-color: floralwhite;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: #dddddd;
}

.wide {
  width: 110px;
}

.wider {
  width: 130px;
}

.extra-wide {
  width: 150px;
  background-color: #ceebfd;
}

.unused {
  background-color: #737373;
}
