.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box {
  height: 200px;
  width: 75px;
  background-color: pink;
  border-color: black;
  border-width: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
